@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

/* 
@font-face {
	font-family: 'Retro';
	font-weight: thin;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url(/fonts/retro_font_thin.woff2) format('woff2'),
		url(/fonts/retro_font_thin.woff) format('woff'),
		url(/fonts/retro_font_thin.ttf) format('truetype');
} */

@font-face {
	font-family: 'Retro';
	font-weight: normal;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url(/fonts/retro_font.woff2) format('woff2'),
		url(/fonts/retro_font.woff) format('woff'),
		url(/fonts/retro_font.ttf) format('truetype');
}

@font-face {
	font-family: 'Retro';
	font-weight: bold;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url(/fonts/retro_font_bold.woff2) format('woff2'),
		url(/fonts/retro_font_bold.woff) format('woff'),
		url(/fonts/retro_font_bold.ttf) format('truetype');
}
/* 
@font-face {
	font-family: 'Retro';
	font-weight: normal;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Regular';
	src: url(/fonts/retro_font_italics.woff2) format('woff2'),
		url(/fonts/retro_font_italics.woff) format('woff'),
		url(/fonts/retro_font_italics.ttf) format('truetype');
} */

@layer base {
	::-webkit-scrollbar {
		@apply w-10;
	}

	::-webkit-scrollbar-track,
	::-webkit-scrollbar-button {
		@apply border-solid border-0 border-white-primary block;
	}

	::-webkit-scrollbar-track {
		@apply border-l-2;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-white-primary;
	}

	::-webkit-scrollbar-thumb:active {
		@apply bg-opacity-50;
	}

	::-webkit-scrollbar-button:decrement {
		@apply border-b-2 border-l-2 border-white-primary h-10 transition-colors ease-steps;
		background: no-repeat center / 70% var(--arrow-up);
	}

	::-webkit-scrollbar-button:decrement:active {
		@apply bg-white-primary;
		background: no-repeat center / 70% var(--arrow-up-active);
	}

	::-webkit-scrollbar-button:increment {
		@apply border-t-2 border-l-2 border-white-primary h-10 transition-colors ease-steps;
		background: no-repeat center / 70% var(--arrow-down);
	}

	::-webkit-scrollbar-button:increment:active {
		@apply bg-white-primary;
		background: no-repeat center / 70% var(--arrow-down-active);
	}

	::-webkit-scrollbar-button:vertical:start:increment,
	::-webkit-scrollbar-button:vertical:end:decrement,
	::-webkit-scrollbar-button:horizontal:start:increment,
	::-webkit-scrollbar-button:horizontal:end:decrement,
	::-webkit-scrollbar-track:horizontal {
		@apply hidden;
	}

	::selection {
		@apply bg-yellow-accent text-black-primary;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.group:active .group-active\:glitch {
		animation: glitch 0.15s steps(10) 2;
	}

	.slider {
		@apply appearance-none cursor-pointer flex-grow p-1 ml-4 my-2 outline outline-2 outline-white-primary bg-gradient-to-r bg-double from-pink-accent via-50% via-blue-accent to-50% bg-transparent;
	}

	.slider::-webkit-slider-thumb {
		@apply appearance-none relative w-6 h-4 bg-white-primary shadow-[-2px_-2px_inset] shadow-light-primary z-40;
	}

	.slider::-moz-range-thumb {
		@apply w-6 h-4 bg-white-primary shadow-[-2px_-2px_inset] shadow-light-primary cursor-pointer;
	}

	.backdrop-blur-parent::before {
		content: '';
		@apply backdrop-blur absolute w-full h-full -z-10;
	}

	.mask-up {
		mask: linear-gradient(to top, white, transparent);
	}

	.animate-pause {
		animation-play-state: paused;
	}

	.disable-child-interaction * {
		animation-play-state: paused !important;
		transition: none !important;
	}

	.disable-child-interaction::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

@keyframes glitch {
	from {
		transform: translate(44%, -16%);
	}
	10% {
		transform: translate(30%, 13%);
	}
	20% {
		transform: translate(-9%, -28%);
	}
	30% {
		transform: translate(-28%, -45%) scaleX(-1);
	}
	40% {
		transform: translate(-36%, 8%) scaleX(-1);
	}
	50% {
		transform: translate(6%, 28%);
	}
	60% {
		transform: translate(6%, -10%);
	}
	70% {
		transform: translate(14%, 35%) scaleY(2);
	}
	80% {
		transform: translate(26%, 4%);
	}
	90% {
		transform: translate(-19%, 38%);
	}
	to {
		transform: translate(8%, 38%) scale(1.2);
	}
}

@keyframes shutdown {
	from {
		transform: scaleX(1) scaleY(1);
	}

	90% {
		transform: scaleX(0.95) scaleY(0.02);
	}

	to {
		transform: scaleX(0) scaleY(0.02);
	}
}

@keyframes flicker {
	0% {
		opacity: 0.552;
	}
	5% {
		opacity: 0.48287;
	}
	10% {
		opacity: 0.59134;
	}
	15.0% {
		opacity: 0.79543;
	}
	20% {
		opacity: 0.75134;
	}
	25% {
		opacity: 0.1956;
	}
	30.0% {
		opacity: 0.90687;
	}
	35% {
		opacity: 0.122;
	}
	40% {
		opacity: 0.62254;
	}
	45% {
		opacity: 0.56977;
	}
	50% {
		opacity: 0.9925;
	}
	55.0% {
		opacity: 0.55487;
	}
	60.0% {
		opacity: 0.16607;
	}
	65% {
		opacity: 0.12353;
	}
	70% {
		opacity: 0.2214;
	}
	75% {
		opacity: 0.67908;
	}
	80% {
		opacity: 0.97163;
	}
	85.0% {
		opacity: 0.1275;
	}
	90% {
		opacity: 0.37186;
	}
	95% {
		opacity: 0.24475;
	}
	100% {
		opacity: 0.37221;
	}
}
